<style>
	.tabx{
		height: 30px;
		-webkit-border-radius: 10px;
		-moz-border-radius: 10px;
		border-radius: 10px;
		font-size: 20px;
		float: left;
		  background: -webkit-linear-gradient(white, silver); /* For Safari 5.1 to 6.0 */
		  background: -o-linear-gradient(white, silver); /* For Opera 11.1 to 12.0 */
		  background: -moz-linear-gradient(white, silver); /* For Firefox 3.6 to 15 */
		  background: linear-gradient(white, silver); /* Standard syntax */
	 }
	 
	 .tabx:hover{
		height: 30px;
		-webkit-border-radius: 10px;
		-moz-border-radius: 10px;
		border-radius: 10px;
		font-size: 20px;
		float: left;
		  background: -webkit-linear-gradient(white, red); /* For Safari 5.1 to 6.0 */
		  background: -o-linear-gradient(white, red); /* For Opera 11.1 to 12.0 */
		  background: -moz-linear-gradient(white, red); /* For Firefox 3.6 to 15 */
		  background: linear-gradient(white, red); /* Standard syntax */
	 }
	 
	 .activetabx{
		  background: -webkit-linear-gradient(white, red); /* For Safari 5.1 to 6.0 */
		  background: -o-linear-gradient(white, red); /* For Opera 11.1 to 12.0 */
		  background: -moz-linear-gradient(white, red); /* For Firefox 3.6 to 15 */
		  background: linear-gradient(white, red); /* Standard syntax */
	 }
</style>